In [11]:
import pandas as pd

# Load dataset
df = pd.read_csv("/content/Student Performance dataset.csv")

# Display first 5 records
print("First 5 rows:")
display(df.head())

# Display last 5 records
print("Last 5 rows:")
display(df.tail())

First 5 rows:

,student_id,age,gender,school_type,parent_education,study_hours,attendance_percentage,internet_access,travel_time,extra_activities,study_method,math_score,science_score,english_score,overall_score,final_grade
0,1,14,male,public,post graduate,3.1,84.3,yes,<15 min,yes,notes,42.7,55.4,57.0,53.1,e
1,2,18,female,public,graduate,3.7,87.8,yes,>60 min,no,textbook,57.6,68.8,64.8,61.3,d
2,3,17,female,private,post graduate,7.9,65.5,no,<15 min,no,notes,84.8,95.0,79.2,89.6,b
3,4,16,other,public,high school,1.1,58.1,no,15-30 min,no,notes,44.4,27.5,54.7,41.6,e
4,5,16,female,public,high school,1.3,61.0,yes,30-60 min,yes,group study,8.9,32.7,30.0,25.4,f

Last 5 rows:

,student_id,age,gender,school_type,parent_education,study_hours,attendance_percentage,internet_access,travel_time,extra_activities,study_method,math_score,science_score,english_score,overall_score,final_grade
24995,12047,17,female,public,phd,1.8,55.2,yes,15-30 min,no,mixed,55.8,48.5,46.7,46.1,e
24996,1102,16,female,private,diploma,2.7,97.1,yes,<15 min,no,coaching,64.8,48.2,52.3,56.5,d
24997,4422,19,other,private,post graduate,1.0,63.0,yes,<15 min,no,group study,50.5,20.3,36.1,36.7,f
24998,7858,14,male,private,diploma,1.0,69.4,yes,15-30 min,yes,group study,13.0,34.2,7.3,34.1,f
24999,11621,18,other,public,no formal,0.7,60.3,yes,30-60 min,no,mixed,36.5,45.1,16.5,31.4,f

In [17]:
# Numerical features (int, float)
numerical_features = df.select_dtypes(include=["int64", "float64"]).columns.tolist()

# Categorical features (object)
categorical_features = df.select_dtypes(include=["object"]).columns.tolist()

# Binary features (columns with only 2 unique values)
binary_features = [col for col in df.columns if df[col].nunique() == 2]

# Ordinal features (manually identified based on meaning)
# Example: education level, grades, study time etc.
ordinal_features = [
    col for col in categorical_features
    if col.lower() in ["parental level of education", "grade", "education"]
]

print("Numerical Features:", numerical_features)
print("Categorical Features:", categorical_features)
print("Binary Features:", binary_features)
print("Ordinal Features (manual):", ordinal_features)

Numerical Features: ['student_id', 'age', 'study_hours', 'attendance_percentage', 'math_score', 'science_score', 'english_score', 'overall_score']
Categorical Features: ['gender', 'school_type', 'parent_education', 'internet_access', 'travel_time', 'extra_activities', 'study_method', 'final_grade']
Binary Features: ['school_type', 'internet_access', 'extra_activities']
Ordinal Features (manual): []

In [13]:
# Dataset structure and null values
df.info()

# Statistical summary for numerical columns
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_id             25000 non-null  int64
 1   age                    25000 non-null  int64
 2   gender                 25000 non-null  object
 3   school_type            25000 non-null  object
 4   parent_education       25000 non-null  object
 5   study_hours            25000 non-null  float64
 6   attendance_percentage  25000 non-null  float64
 7   internet_access        25000 non-null  object
 8   travel_time            25000 non-null  object
 9   extra_activities       25000 non-null  object
 10  study_method           25000 non-null  object
 11  math_score             25000 non-null  float64
 12  science_score          25000 non-null  float64
 13  english_score          25000 non-null  float64
 14  overall_score          25000 non-null  float64
 15  final_grade            25000 non-null  object
dtypes: float64(6), int64(2), object(8)
memory usage: 3.1+ MB

,student_id,age,study_hours,attendance_percentage,math_score,science_score,english_score,overall_score
count,25000.00000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000,25000.000000
mean,7493.04380,16.482760,4.253224,75.084084,63.785944,63.745320,63.681948,64.006172
std,4323.56215,1.703895,2.167541,14.373171,20.875262,20.970529,20.792693,18.932025
min,1.00000,14.000000,0.500000,50.000000,0.000000,0.000000,0.000000,14.500000
25%,3743.75000,15.000000,2.400000,62.800000,48.300000,48.200000,48.300000,49.000000
50%,7461.50000,16.000000,4.300000,75.100000,64.100000,64.100000,64.200000,64.200000
75%,11252.00000,18.000000,6.100000,87.500000,80.000000,80.000000,80.000000,79.000000
max,15000.00000,19.000000,8.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [18]:
for col in  categorical_features:
    print(f"\nColumn: {col}")
    print(df[col].value_counts())

Column: gender
gender
other     8463
female    8290
male      8247
Name: count, dtype: int64

Column: school_type
school_type
private    12725
public     12275
Name: count, dtype: int64

Column: parent_education
parent_education
diploma          4314
high school      4205
post graduate    4196
graduate         4127
no formal        4079
phd              4079
Name: count, dtype: int64

Column: internet_access
internet_access
yes    21227
no      3773
Name: count, dtype: int64

Column: travel_time
travel_time
15-30 min    6362
30-60 min    6345
>60 min      6166
<15 min      6127
Name: count, dtype: int64

Column: extra_activities
extra_activities
yes    12500
no     12500
Name: count, dtype: int64

Column: study_method
study_method
mixed            4341
textbook         4239
notes            4165
online videos    4139
group study      4090
coaching         4026
Name: count, dtype: int64

Column: final_grade
final_grade
d    6311
c    6161
e    5672
f    2955
b    2696
a    1205
Name: count, dtype: int64

In [9]:
# Target variable (example: final score or performance)
target_column = "math_score"   # change if your dataset has a different target

# Input features
X = df.drop(columns=[target_column])
y = df[target_column]

print("Target Variable:", target_column)
print("Input Features:", X.columns.tolist())

Target Variable: math_score
Input Features: ['student_id', 'age', 'gender', 'school_type', 'parent_education', 'study_hours', 'attendance_percentage', 'internet_access', 'travel_time', 'extra_activities', 'study_method', 'science_score', 'english_score', 'overall_score', 'final_grade']

In [6]:
rows, columns = df.shape

print("Number of rows:", rows)
print("Number of columns:", columns)

if rows >= 500:
    print("Dataset size is suitable for basic machine learning models.")
else:
    print("Dataset may be small; simple ML models are recommended.")

Number of rows: 25000
Number of columns: 16
Dataset size is suitable for basic machine learning models.

In [19]:
# Missing values count
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

# Check class imbalance (if classification)
if y.nunique() <= 10:
    print("\nTarget variable distribution:")
    print(y.value_counts(normalize=True))

# Summary observations
print("\nObservations:")
if missing_values.sum() == 0:
    print("- No missing values found.")
else:
    print("- Missing values present; imputation required.")

print("- Check categorical imbalance before model training.")
print("- Feature encoding needed for categorical variables.")

Missing values per column:
student_id               0
age                      0
gender                   0
school_type              0
parent_education         0
study_hours              0
attendance_percentage    0
internet_access          0
travel_time              0
extra_activities         0
study_method             0
math_score               0
science_score            0
english_score            0
overall_score            0
final_grade              0
dtype: int64

Observations:
- No missing values found.
- Check categorical imbalance before model training.
- Feature encoding needed for categorical variables.